:root {
    --color-primary-dark: #212121;
    --color-primary-light: #ffffff;
    --color-minor: #757575;
    --color-background-dark: #2f303a;
    --color-background-light: #f5f4fa;
    --color-emphasis: #2196f3;
    --color-emphasis-minor: #188ce8;
    --color-primary-icon: #afb1b8;
}

$transition-duration: 300ms;
$transition-function: ease-in-out;
