.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logotype {
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    span {
        color: var(--color-emphasis);
    }
}
