.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.logotype {
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    span {
        color: var(--color-emphasis);
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.no-scroll {
    overflow: hidden;
}